<left>
    <br><br>
    <b>Last Updated</b><br>
    <i>
        <span id="lastUpdated" style="color:orange;"></span>
    </i>

    <script>
        const today = new Date();
        const formattedDate = today.toLocaleDateString('en-GB');
        document.getElementById('lastUpdated').textContent = formattedDate;
    </script>
</left>

<left>
    <br><br>
    <b> Team </b> <br>

    <i>
        <a href="https://www.facebook.com/groups/660548818043427" style="color:orange">
            First Cloud Journey
        </a>
        <br>

        <a href="https://github.com/HoangAnh-J/fcj-workshop-template-main" style="color:orange">
            GitHub Repository
        </a>
    </i>
</left>

<script async defer src="https://buttons.github.io/buttons.js"></script>